.mainWrapper {
    padding-top: 3vh;
    display: flex;
}

.columnLeft {
    width: 85%;
}

.columnRight {
    width: 15%;
}

.btn {
  padding: 0.5rem 1.25rem;
  font-size: 0.875rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  min-height: 30px;
  min-width: 40px;
  padding: 5px 10px;
  margin-left: 20px;
}

.btnSecondary {
  background-color: black;
  color: white;
  padding: 5px 10px;
}

.btnSecondary:hover {
    opacity: 80%;
}

/* Masonry */
