.container {
  min-height: 200px;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  border: 1px solid #f3f4f6;
  padding: 15px 25px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
}


.chartArea {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 160px;
  width: 160px;
  padding: 0.5rem 1.2rem;

}

.barContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 100%;
  margin-bottom: 1rem;
  background-color: #374151;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: 10;
  white-space: nowrap;
  pointer-events: none;
}

.tooltipTitle {
  font-weight: 600;
}

.tooltipText {
  font-size: 0.75rem;
}

.star {
  color: #d4bf79;
  margin-left: 0.25rem;
}

.userRange {
  font-size: 0.75rem;
  color: #d4bf79;
  margin-top: 0.25rem;
}

.tooltipArrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0.5rem;
  border-style: solid;
  border-color: #374151 transparent transparent transparent;
}

.bar {
  width: 1.5rem;
  border-radius: 0.25rem 0.25rem 0 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

.defaultBar {
  background-color: #CCC;
}

.defaultBar:hover {
  opacity: 80%;
}

.userBar {
  background-color: black;
}

.userBar:hover {
  opacity: 80%;
}

.barHovered {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transform: scale(1.1);
}

.countLabel {
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4px;
}

.countText {
  color: #111;
  font-size: 0.75rem;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 4px;
  border-radius: 4px; 
}

.rankInfo {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #374151;
   margin-bottom: 1rem;
}
