@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.Container {
 font-family: 'Pretendard';
 display: flex;
 min-height: 100vh;
 position: relative; /* sidebar 때문에 필수 */
}

.content {
 font-family: 'Pretendard';
 flex: 1;
 margin-left: 180px; /* sidebar 때문에 필수 */
 padding: 20px 40px;
 transition: margin-left 0.3s ease;
 background-color: #ffffff;
 min-height: 100vh;
}

.feedContainer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
}