@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");


.badgeCard {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  max-width: 400px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding: 4px 0;
}

.badgeItem{
  display:flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  gap: 4px;
}

.badgeIcon{
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.title {
  color: #1f2937;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}


.btn {
  margin: 5px;
  padding: 0.5rem 1.25rem;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  border: 0.5px solid black;
  background-color: white;
  color: black;
  width: 100%;
}

.btn:hover {
  opacity: 80%;
  border: 0.5px solid black;
}
