/* Nav bar */
.list {
  width: 100%;
  font-family: "Pretendard Variable", Pretendard, sans-serif;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.tabNav {
  display: flex;
  width: 100%;
  gap: 2rem;
  border-bottom: 2px solid #eee;
  margin-bottom: 1rem;
  justify-items: space-between;
  align-items: center;
}

.tab {
  flex: 1;
  display: flex;
  padding: 0.5rem 0;
  color: #555;
  cursor: pointer;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.active {
  color: black;
  font-weight: bold;
  border-bottom: 2px solid black;
}

.tab:hover {
  color: black;
}